/* Fonts */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2"),
    url("../fonts/poppins-v24-latin-300.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2"),
    url("../fonts/poppins-v24-latin-regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2"),
    url("../fonts/poppins-v24-latin-600.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 900;
  src: url("../fonts/poppins-v24-latin-900.woff2") format("woff2"),
    url("../fonts/poppins-v24-latin-900.ttf") format("truetype");
}

:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-dark: #465929;
  --color-brand-normal: #819b57;
  --color-brand-light: #cfcfbc;
  --color-secondary-dark: #a18268;
}

/* Base */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

.section {
  padding: 48px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

address {
  font-style: normal;
}

h2 {
  line-height: 1.3;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Button */
.button-primary {
  color: var(--color-primary-light);
  background-color: var(--color-brand-normal);
  border-radius: 8px;
  border: 2px solid var(--color-brand-normal);
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  padding: 16px 32px;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.button-primary:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

.button-primary.header-btn:hover {
  background-color: var(--color-primary-light);
  border-color: transparent;
}

/* Link */
.nav-link {
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--color-brand-normal);
}

/* Header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}

.header-menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 64px;
}

/* Hero section */

.hero-section {
  padding: 272px 0;
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url(../images/hero-section-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.hero-title {
  margin-bottom: 0;
  color: var(--color-primary-light);
  line-height: 1.3;
  font-size: 128px;
  text-align: center;
}

.hero-title .accent {
  color: var(--color-brand-normal);
}

/* Advantages section */
.advantages-section {
  padding: 16px 0;
  background-color: var(--color-brand-normal);
}

.advantages-list {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  color: var(--color-primary-light);
  font-weight: 300;
  font-size: 20px;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/* Traditions section */

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 700px;
}

.traditions-section {
  padding-top: 96px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text .brand {
  color: var(--color-brand-normal);
  font-weight: 600;
}

.traditions-text.limited {
  max-width: 335px;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

/* Chefs section */

.chefs-title {
  margin: 0 auto 80px auto;
  position: relative;
}

.chefs-title::before,
.chefs-title::after {
  display: block;
  position: absolute;
  bottom: 20px;
  content: "";
  width: 352px;
  border: 2px solid var(--color-brand-light);
}

.chefs-title::before {
  left: 0;
}

.chefs-title::after {
  right: 0;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark);
}

.chef-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}

.chefs-list {
  display: flex;
  gap: 50px 30px;
  flex-wrap: wrap;
}

.chefs-item {
  display: flex;
  flex-basis: calc(50% - 15px);
}

.chef-card {
  display: flex;
  gap: 30px;
}

.chefs-text p {
  margin-bottom: 24px;
}

.chefs-text p:last-child {
  margin-bottom: 0;
}

/* Formats section */

.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.formats-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.formats-list-item {
  flex-basis: calc((100% - 40px) / 3);
}

.formats-title {
  margin-bottom: 80px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.formats-text {
  font-size: 14px;
  font-weight: 300;
}

.formats-card {
  height: 444px;
  color: black; /*replace to var(--color-primary-light)*/
  border: 1px solid black; /* remove */
  background: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
  border-radius: 16px;
  padding: 24px;
  transition: transform 0.3s;
}

.formats-card:hover {
  transform: scale(1.02);
}

/* Carousel */

.carousel-button {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  height: 44px;
  width: 44px;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel-button.next {
  transform: rotate(180deg);
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
}

.carousel-arrow {
  width: 16px;
  height: 16px;
  fill: var(--color-primary-dark);
}

.carousel-button:hover .carousel-arrow {
  fill: var(--color-primary-light);
}

/* Contacts section */

.contacts-section {
  padding-bottom: 96px;
}

.contacts-container {
  display: flex;
  gap: 32px;
}

.contacts-title {
  margin-bottom: 16px;
  letter-spacing: -2px;
}

.contacts-text {
  color: #465929;
}

.contacts-map {
  border-radius: 16px;
  flex-shrink: 0;
}

/* Footer */

.footer {
  padding: 32px 0;
  position: relative;
  background-color: var(--color-primary-dark);
  background-image: url(../images/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer::before,
.footer::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  bottom: 0;
}

.footer::before {
  background-image: url(../images/decor-bread-small.png);
  width: 180px;
  height: 120px;
  left: 0;
}

.footer::after {
  background-image: url(../images/decor-bread-large.png);
  width: 380px;
  height: 187px;
  right: 0;
}

.footer-nav {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}
.footer-nav-logo {
  flex-basis: 50%;
}

.footer-nav-list {
  flex-basis: 50%;
}
.footer-nav-link:not(:last-child) {
  margin-bottom: 16px;
}

.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}
.footer-address-list {
  flex-basis: 50%;
}

.footer-address-info {
  flex-basis: 50%;
}

.address-link {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 16px;
}

.address-link-social {
  display: flex;
  gap: 22px;
}

.address-icon {
  width: 32px;
  height: 32px;
  fill: var(--color-primary-light);
  transition: fill 0.3s;
}

.address-icon:hover {
  fill: var(--color-brand-normal);
}

.address-copyright {
  color: #a18268;
  font-size: 14px;
}

/* Modal */

.backdrop {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s, visibility 0.3s;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  border-radius: 32px;
  background-color: var(--color-primary-light);
}

.modal-btn-close {
  position: absolute;
  right: 40px;
  top: 40px;
}

.backdrop.is-hiden {
  opacity: 0;
  visibility: hidden;
}
