/* Fonts */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2"),
    url("../fonts/poppins-v24-latin-300.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2"),
    url("../fonts/poppins-v24-latin-regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2"),
    url("../fonts/poppins-v24-latin-600.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 900;
  src: url("../fonts/poppins-v24-latin-900.woff2") format("woff2"),
    url("../fonts/poppins-v24-latin-900.ttf") format("truetype");
}

:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
}

/* Base */

* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #bdbdbd;
  margin: 0;
}

.section {
  padding: 48px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

address {
  font-style: normal;
}

h2 {
  line-height: 1.3;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Button */
.button-primary {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border-radius: 8px;
  border: 2px solid var(--color-brand-light);
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  padding: 16px 32px;
}

.button-primary:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

/* Link */
.nav-link {
  color: var(--color-primary-light);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--color-brand-light);
}

/* Header */

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}

.header-menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 64px;
}

/* Hero section */

.hero-section {
  padding: 272px 0;
}
.hero-title {
  margin-bottom: 0;
  color: var(--color-primary-light);
  line-height: 1.3;
  font-size: 128px;
  text-align: center;
}

.hero-title .accent {
  color: var(--color-brand-light);
}

/* Advantages section */
.advantages-section {
  padding: 16px 0;
  background-color: var(--color-brand-light);
}

.advantages-list {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  color: var(--color-primary-light);
  font-weight: 300;
  font-size: 20px;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/* Traditions section */

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 700px;
}

.traditions-section {
  padding-top: 96px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}

.traditions-text.limited {
  max-width: 335px;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

/* Chefs section */

.chefs-title {
  margin-bottom: 80px;
}

.chef-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}

/* Formats section */

.formats-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.formats-list-item {
  flex-basis: calc((100% - 40px) / 3);
}

.formats-title {
  margin-bottom: 80px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.formats-text {
  font-size: 14px;
  font-weight: 300;
}

.formats-card {
  border: 1px solid black; /* remove */
  border-radius: 16px;
  padding: 24px;
}

/* Contacts section */
.contacts-title {
  margin-bottom: 16px;
}

.contacts-text {
  color: #465929;
}

/* Footer */

.address-link {
  font-size: 16px;
  font-weight: 300;
}

.address-copyright {
  color: #a18268;
  font-size: 14px;
}
