// Base
@import "../scss/base";

// Utils
@import "../scss/utils/_fonts.scss";
@import "../scss/utils/texts";
@import "../scss/utils/utils";
@import "../scss/utils/variables";

// Components
@import "../scss/components/buttons";
@import "../scss/components/carousel-buttons";
@import "../scss/components/chef-card";
@import "../scss/components/format-card";
@import "../scss/components/input";
@import "../scss/components/link";
@import "../scss/components/pagination";

// Layout
@import "../scss/layout/_mobile-menu";
@import "../scss/layout/advantages-section";
@import "../scss/layout/chefs-section";
@import "../scss/layout/contacts-section";
@import "../scss/layout/footer";
@import "../scss/layout/form";
@import "../scss/layout/formats-section";
@import "../scss/layout/header";
@import "../scss/layout/hero-section";
@import "../scss/layout/modal";
@import "../scss/layout/section";
@import "../scss/layout/traditions-container";
