@import "../scss/utils/_fonts.scss";
@import "../scss/utils/utils";
@import "../scss/utils/variables";

@import "../scss/base";

@import "../scss/components/advantages-section";
@import "../scss/components/button";
@import "../scss/components/carousel";
@import "../scss/components/chefs-section";
@import "../scss/components/contacts-section";
@import "../scss/components/footer";
@import "../scss/components/form";
@import "../scss/components/formats-section";
@import "../scss/components/header";
@import "../scss/components/hero-section";
@import "../scss/components/link";
@import "../scss/components/modal";
@import "../scss/components/traditions-container";
