.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-primary-light);
  transform: translateX(100%);
  transition: transform 0.3s linear;

  &.is-open {
    transform: translateX(0);
  }

  &__button-close {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}
