.advantages-section {
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  padding: 40px 0;

  @media screen and (min-width: $bp-desktop) {
    color: var(--color-primary-light);

    padding: 16px 0;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    flex-direction: column;
    border-radius: 24px;
    background-color: var(--color-brand-light);
    padding: 24px 40px;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
    }
  }

  &__item {
    font-weight: 300;
    font-size: 14px;

    @media screen and (min-width: $bp-desktop) {
      font-weight: 300;
      font-size: 20px;
    }
  }
}
