.chefs-section {
  &__title {
    margin: 0 auto 80px auto;
    position: relative;

    &::before,
    &::after {
      display: none;
      position: absolute;
      bottom: 20px;
      content: "";
      width: 352px;
      border: 2px solid var(--color-brand-light);

      @media screen and (min-width: $bp-desktop) {
        display: block;
      }
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &__list {
    display: flex;
    gap: 50px 30px;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 10px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      padding: 0;
    }
  }

  &__item {
    display: flex;
    flex-basis: calc(50% - 15px);
  }
}
