.contacts-section {
  padding-bottom: 96px;

  &__container {
    display: flex;
    gap: 32px;
  }

  &__title {
    margin-bottom: 16px;
    letter-spacing: -2px;
  }

  // **
  &__form {
    .contacts-section__order-form.order-form {
      gap: 24px;
      padding-top: 42px;
      margin-bottom: 16px;
    }
  }

  &__map {
    border-radius: 16px;
    flex-shrink: 0;
  }
}
