.footer {
  padding: 32px 0;
  position: relative;
  background-color: var(--color-primary-dark);
  background-image: url(../images/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__::before,
  &__::after {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    bottom: 0;
  }

  &__::before {
    background-image: url(../images/decor-bread-small.png);
    width: 180px;
    height: 120px;
    left: 0;
  }

  &__::after {
    background-image: url(../images/decor-bread-large.png);
    width: 380px;
    height: 187px;
    right: 0;
  }

  &__container {
    display: flex;
    gap: 20px;
  }

  &__nav {
    display: flex;
    flex-basis: 50%;
    gap: 20px;

    &-logo {
      flex-basis: 50%;
    }

    &-list {
      flex-basis: 50%;
    }

    &-link:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;

    &-list {
      flex-basis: 50%;
    }

    &-info {
      flex-basis: 50%;
    }

    &-link {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 16px;
    }

    &-link-social {
      display: flex;
      gap: 22px;
    }

    &-icon {
      width: 32px;
      height: 32px;
      fill: var(--color-primary-light);
      transition: fill 0.3s;
      &__:hover {
        fill: var(--color-brand-normal);
      }
    }

    &-copyright {
      color: #a18268;
      font-size: 14px;
    }
  }
}
