.footer {
  padding: 32px 0;
  position: relative;
  background-color: var(--color-primary-dark);
  background-image: url(../images/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  &::before,
  &::after {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    bottom: 0;
  }

  &::before {
    background-image: url(../images/decor-bread-small.png);
    width: 100px;
    height: 210px;
    top: 50px;
    left: 0;

    @media screen and (min-width: $bp-tablet) {
      top: 150px;
    }
  }

  &::after {
    background-image: url(../images/decor-bread-large.png);
    width: 380px;
    height: 187px;
    right: -280px;
    bottom: -109px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-basis: 50%;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      justify-content: center;
      text-align: start;
    }

    &-logo {
      flex-basis: 50%;
    }

    &-list {
      flex-basis: 50%;
    }

    &-link:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__address {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-basis: 50%;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      text-align: start;
    }

    &-list {
      flex-basis: 50%;
    }

    &-info {
      flex-basis: 50%;
    }

    &-link {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 16px;
    }

    &-link-social {
      display: flex;
      justify-content: center;
      gap: 22px;

      @media screen and (min-width: $bp-tablet) {
        justify-content: flex-start;
      }
    }

    &-icon {
      width: 32px;
      height: 32px;
      fill: var(--color-primary-light);
      transition: fill 0.3s;
      &__:hover {
        fill: var(--color-brand-normal);
      }
    }

    &-copyright {
      color: #a18268;
      font-size: 14px;
    }
  }
}
