.order-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 72px;
  margin-bottom: 24px;
  max-width: 600px;
  width: 100%;

  &__title {
    margin-bottom: 8px;
    letter-spacing: -2px;
  }

  &__text {
    color: var(--color-brand-dark);
    margin: 0;
  }

  &__button {
    align-self: center;
  }

  &__policy {
    &-text {
      text-align: center;
      font-size: 12px;
      margin: 0;
    }

    &-link {
      font-size: 12px;
      color: var(--color-primary-dark);
      text-underline-offset: 2px;
    }
  }
}
