.formats-section {
  &__slider {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
  }

  &__container {
    overflow: hidden;
  }

  &__title {
    margin-bottom: 24px;

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 80px;
    }
  }

  &__button {
    display: none;
    @media screen and (min-width: $bp-desktop) {
      display: flex;
    }
  }

  // &__list {
  //   display: flex;
  //   gap: 20px;
  //   flex-wrap: wrap;
  // }

  // &__item {
  //   flex-basis: calc((100% - 40px) / 3);
  // }
}
