.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px;

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 40px;
  }

  &__menu {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 64px;
  }

  &__button {
    background-color: transparent;
    border: none;

    @media screen and (min-width: 500px) {
      display: none;
    }
  }

  &__icon-burger-menu {
    width: 20px;
    height: 14px;
    fill: var(--color-primary-light);
  }
}
