.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 0 32px 0;

  @media screen and (min-width: $bp-desktop) {
    padding: 32px;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 40px;
  }

  &__menu {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      gap: 64px;
    }
  }

  &__btn {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }

  &__burger-menu {
    background-color: transparent;
    border: none;
    padding: 0;

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }

  &__icon-burger-menu {
    width: 24px;
    height: 14px;
    fill: var(--color-primary-light);
  }
}
