.hero-section {
  padding: 122px 0 32px 0;
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url(../images/hero-section-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  @media screen and (min-width: $bp-desktop) {
    padding: 272px 0;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        102.76deg,
        rgba(18, 18, 17, 0.78) 2.03%,
        rgba(18, 18, 17, 0.6) 58.46%,
        rgba(18, 18, 17, 0) 90.36%
      ),
      url(../images/hero-section-bg@2x.jpg);
  }

  &__title {
    margin-bottom: 0;
    color: var(--color-primary-light);
    line-height: 1;
    font-size: 67px;
    text-align: center;

    @media screen and (min-width: $bp-desktop) {
      line-height: 1.3;
      font-size: 128px;
    }
  }

  &__button {
    margin: 48px auto 0;

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
