.backdrop {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s, visibility 0.3s;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 128px 0;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  border-radius: 32px;
  background-color: var(--color-primary-light);
  overflow-y: auto;
}

.modal-btn-close {
  position: absolute;
  right: 40px;
  top: 40px;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
}
