.backdrop {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 12;

  @media screen and (min-width: $bp-tablet) {
    padding: 20px 0;
  }
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 75px 40px;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  border-radius: 32px;
  background-color: var(--color-primary-light);
  overflow-y: auto;

  @media screen and (min-width: $bp-tablet) {
    padding: 128px 0;
  }

  &__button-close {
    position: absolute;
    background-color: transparent;
    border: none;
    right: 20px;
    top: 20px;
    cursor: pointer;

    @media screen and (min-width: $bp-tablet) {
      right: 40px;
      top: 40px;
    }
  }

  &__icon-cross {
    width: 18px;
    height: 18px;
    fill: var(--color-primary-dark);

    @media screen and (min-width: $bp-tablet) {
      width: 24px;
      height: 24px;
    }

    &:hover {
      scale: 1.01;
    }
  }
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
}
