.traditions-section {
  padding-top: 20px;

  @media screen and (min-width: $bp-desktop) {
    padding-top: 96px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  &__content {
    max-width: 700px;
  }

  &__title {
    margin-bottom: 42px;
  }

  &__text {
    &--limited {
      max-width: 340px;
    }
  }

  &__image {
    border-radius: 400px 400px 0px 0px;
    align-self: flex-start;
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }
}
