.carousel-button {
  display: none;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  height: 44px;
  width: 44px;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.3s;

  @media screen and (min-width: $bp-desktop) {
    display: flex;
  }

  &:hover {
    background-color: var(--color-primary-dark);

    .carousel-button__arrow {
      fill: var(--color-primary-light);
    }
  }

  &__arrow {
    width: 16px;
    height: 16px;
    fill: var(--color-primary-dark);
  }

  &__next {
    transform: rotate(180deg);
  }
}
