.chef-card {
  display: flex;
  gap: 30px;

  &__photo {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light),
      -16px 16px 0 2px var(--color-secondary-dark);
    max-width: 156px;
    align-self: flex-start;

    @media screen and (min-width: $bp-desktop) {
      max-width: 100%;
    }
  }

  &__title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;

    @media screen and (min-width: $bp-desktop) {
      font-size: 24px;
    }
  }

  &__text {
    p {
      font-size: 14px;
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0;
      }

      @media screen and (min-width: $bp-tablet) {
        font-size: 18px;
      }
    }
  }
}
