.chef-card {
  display: flex;
  gap: 16px;
  align-items: flex-start;

  @media screen and (min-width: $bp-desktop) {
    gap: 30px;
  }

  &__photo {
    width: 140px;
    border-radius: 4px 4px 4px 200px;
    box-shadow: -10px 10px 0 0 var(--color-primary-light),
      -10px 10px 0 2px var(--color-secondary-dark);

    @media screen and (min-width: $bp-desktop) {
      box-shadow: -16px 16px 0 0 var(--color-primary-light),
        -16px 16px 0 2px var(--color-secondary-dark);
      width: 240px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;

    @media screen and (min-width: $bp-desktop) {
      font-size: 40px;
      margin-bottom: 16px;
    }
  }

  &__text {
    p {
      font-size: 14px;
      margin-bottom: 18px;
      &:last-child {
        margin-bottom: 0;
      }

      @media screen and (min-width: $bp-tablet) {
        font-size: 18px;
        margin-bottom: 24px;
      }
    }
  }
}
