.contacts-section {
  padding-bottom: 96px;
}

.contacts-container {
  display: flex;
  gap: 32px;
}

.contacts-title {
  margin-bottom: 16px;
  letter-spacing: -2px;
}

.contacts-text {
  color: #465929;
  margin: 0;
}

.contacts-form .order-form {
  padding-top: 42px;
  margin-bottom: 16px;
}

.contacts-form .form-policy-text {
  font-size: 12px;
}

.contacts-form .form--policy-link {
  font-size: 12px;
}

.contacts-map {
  border-radius: 16px;
  flex-shrink: 0;
}
