.format-card {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  max-width: 350px;
  height: 444px;
  color: var(--color-primary-light);
  background: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
  border-radius: 16px;
  padding: 24px;
  transition: transform 0.3s;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 100%;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
  }

  &__text {
    font-size: 14px;
    font-weight: 300;

    p {
      margin: 0;
    }
  }
}

/* .formats-card:hover {
    transform: scale(1.02);
  } */
