.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}

.header-menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 64px;
}
