.input {
  position: relative;

  &__label {
    position: absolute;
    top: 16px;
    left: 42px;
  }

  &__control {
    font-size: 16px;
    line-height: 1.17;
    width: 100%;
    padding: 16px 42px;
    border-radius: 8px;
    border: 1px solid var(--color-secondary-dark);
    background-color: transparent;
    outline: none;

    &:focus {
      outline: 1px solid var(--color-brand-normal);

      &::-webkit-input-placeholder {
        color: var(--color-primary-dark);
      }
      &::-moz-placeholder {
        color: var(--color-primary-dark);
      }
      &:-ms-input-placeholder {
        color: var(--color-primary-dark);
      }
      &::-ms-input-placeholder {
        color: var(--color-primary-dark);
      }
      &::placeholder {
        color: var(--color-primary-dark);
      }
    }

    &::-webkit-input-placeholder {
      color: var(--color-secondary-dark);
      font-size: 16px;
      line-height: 1.17;
    }

    &::-moz-placeholder {
      color: var(--color-secondary-dark);
      font-size: 16px;
      line-height: 1.17;
    }

    &:-ms-input-placeholder {
      color: var(--color-secondary-dark);
      font-size: 16px;
      line-height: 1.17;
    }

    &::-ms-input-placeholder {
      color: var(--color-secondary-dark);
      font-size: 16px;
      line-height: 1.17;
    }

    &::placeholder {
      color: var(--color-secondary-dark);
      font-size: 16px;
      line-height: 1.17;
    }
  }
}
